
  .pokemon-modal {
    position: fixed; 
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the modal to truly center it */
    z-index: 100; 
  }
  
  .pokemon-modal-content {
    background-color: #8aefd5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(125, 135, 201, 0.1);
    width: 100%;
    max-width: 700px;
  }
  
  .close-button {
    position: absolute;
    top: 1rem; 
    right: 0rem; 
    z-index: 101; 
    cursor: pointer;
    font-size: 1.5rem;
  }
 
 
  